body{
    background-color: rgb(153, 19, 19);
}

  #website {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-width: 1rem;
    border-style: solid;
    border-color: rgb(13, 66, 66);
    background-color: aqua;
  }
  #form, #saved {
    margin-top: 20px;
  }
  button {
    color: aqua;
    background-color: black;
   
  }
  